[submodule "skills/typst-skill"]
	path = skills/typst-skill
	url = https://github.com/akilrammohan/typst-skill
[submodule "skills/geng-academic-fraud-detector"]
	path = skills/geng-academic-fraud-detector
	url = git@github.com:wooly99/geng-academic-fraud-detector
[submodule "skills/maintain-ex2200"]
	path = skills/maintain-ex2200
	url = git@github.com:wold9168/ex2200.skill.git
